@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Forrest";
  src: url("../assets/forrest-regular-webfont.woff") format("woff");
}

body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100vw;
}

#map {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 45%;
    height: calc(100vh - 62px);
}

.info {
    padding: 6px 8px;
    font: 13px/16px '128, 77, 1', sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

span.nav-icon-text {
    display: none;
}

.leaflet-container a {
        color: rgb(29, 33, 48) !important;
}

.circle {
    float: left;
    border: 1px solid #222;
    border-radius: 50%;
}

.legend-custom {
    position: relative;
    left: 0%;
    bottom: 10px;
    width: 240px;
    line-height: 22px;
    padding:7px;
    color: rgb(29, 33, 48);
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.legend-custom i {
    width: 15px !important;
    height: 15px !important;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend-custom img {
    width: 15px !important;
    height: 15px !important;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend-custom p {
    font-size: 10px;
    margin-bottom: 0px;
}

.legend-custom .colorcircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 0px;
}

.legend-custom .circlepadding {
    border-radius: 50%;
    background: rgba(247, 247, 247, 0);
}

.legend-custom span, .legend label {
  display: block;
  width: 50px;
  height: 18px;
  float: left;
  opacity: 0.7;
  text-align: center;
  font-size: 80%
}

.fa-border-icon {
    border-width: 1px !important;
    border-opacity: 1;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.text {
    color: #000000;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

text.y-axis-label.y-label {
    font-family: "Work Sans", Helvetica, Roboto, Arial, sans-serif !important;
    fill: #ffffff !important;
    text-shadow: 0.75px 0.75px rgba(82, 85, 96, 1);
    font-size: 0.9em;
}

.dc-chart rect.bar {
    stroke: none;
    fill: rgba(1, 97, 108, 1);
    fill-opacity: 1;
}

.dc-chart rect.bar:focus, .dc-chart rect.bar:hover {
    fill-opacity: 1;
}

.dc-chart rect.selected {
    fill: rgba(128, 77, 1, 1) !important;
    fill-opacity: 1;
}

.dc-chart rect.deselected {
    fill: #ccc !important;
    fill-opacity: 0.5;
}

.dc-chart .x.axis text {
    font-family: "Work Sans", Helvetica, Roboto, Arial, sans-serif !important;
    text-anchor: end !important;
    transform: rotate(-33deg);
    text-shadow: 0.75px 0.75px rgba(82, 85, 96, 1);
}

.navtext {
    color: #000000;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.navtext:hover {
    color: #000000;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.feature-tooltip, .leaflet-tooltip {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    color: #212529;
    font-size: 12px;
    width: max-content;
    white-space: normal;
    padding: 6px;
    margin: 0px;
    border-radius: 12px;
}

.popup-content a {
    color: #0077cc;
    text-decoration: none;
    word-break: break-word;
}

.leaflet-popup-content a:hover {
    text-decoration: underline;
}

.feature-popup .leaflet-popup-content {
    max-width: 300px;
    width: 300px;
    max-height: 500px;
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.feature-popup .popup-summary {
    max-height: 160px !important;
    overflow-y: auto;
    padding-right: 10px;
    flex-grow: 1;
}

.leaflet-popup-content-wrapper {
    padding-right: 10px;
}

.leaflet-popup-content {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    color: #212529;
    font-size: 14px;
    max-width: 300px;
    width: 300px;
    white-space: normal;
    padding: 6px;
    margin: 0px;
    border-radius: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.leaflet-popup-content p, .feature-tooltip p {
    margin: 0px 0px 6px 0px;
}

.feature-popup .carousel-inner {
    max-height: 200px;
    max-width: 400px;
    overflow: hidden;
}

.feature-popup .carousel-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background-color: #bebebe !important;
}

.feature-popup .popup-container {
    max-height: 500px;
    padding-right: 10px;
}

.navbar-sidenav-tooltip.show {
    display: block;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.navbar-sidenav {
    background: rgba(29, 33, 48, 1) !important;
    width: 55%;
    height: 100%;
}

#title-text {
    font-family: "Forrest", Helvetica, Roboto, Arial, sans-serif !important;
    float: left;
    padding-top: 8px;
    font-size: 1.15em;
    width: fit-content !important;
}

.leaflet-control-scale-line {
    background: #000000;
    background: rgba(247, 247, 247, 0.2);
    box-shadow: 0 0 2px #09395D;
    margin: 5px;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.leaflet-control-attribution {
    background: #000000;
    background: rgba(247, 247, 247, 0.2);
    box-shadow: 0 0 2px #09395D;
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    font-size: 8px;
}

.navbar-sidenav-tooltip {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.sidenavToggler-no-right-border {
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: rgba(247, 247, 247, 0.05);
    width: 350px;
}

.sidenavToggler-right-border {
    border-style: solid;
    border-width: 5px 5px 0 0;
    border-color: rgba(247, 247, 247, 0.05);
    width: 350px;
}

.leaflet-control-layers {
    background: rgba(63, 56, 76, 0.8);
    box-shadow: 0 0 2px #09395D;
    position: fixed;
    top: 60px;
    right: 0px;
    width: auto;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    font-size: 12px;
    color: #000000;
}
.leaflet-control-layers-expanded {
    background: rgba(63, 56, 76, 0.8);
    box-shadow: 0 0 5px #09395D;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    font-size: 1em;
}

#mainNav {
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: rgba(247, 247, 247, 0.05);
    z-index: 1000;
}

#exampleAccordion {
    border-style: solid;
    background-color: rgba(29, 33, 48, 1) !important;
    border-width: 3px 5px 5px 0;
    border-color: rgba(247, 247, 247, 0.05);
    margin-top: 10px;
    margin-bottom: 0px;
}

.leaflet-control-layers-separator {
    color: #212529;
}

#navbarResponsive {
    z-index: 1000;
}

.leaflet-control-zoom {
    z-index: 1;
    position: absolute;
    bottom: 62px;
    right: 0px;
}
.leaflet-control-scale {
    position: relative;
    right: 0px;
    bottom: 10px;
}

.tooltip {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    color: rgb(29, 33, 48) !important;
    font-size: 14px;
}

.tooltip-inner {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
    color: rgb(29, 33, 48) !important;
    background-color: rgb(239, 247, 247) !important;
    font-size: 14px;
}

.legend > img {
    color: rgba(0, 0, 0, 0);
}

.legend {
    position: relative;
    left: 0%;
    bottom: 10px;
    line-height: 22px;
    padding: 7px;
    color: rgb(29, 33, 48);
    width: 240px; 
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
    background: rgba(247, 247, 247, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.legend > i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend > h5, .legend > p, .legend > small, .legend > h6 {
    text-align: left;
    color: #000;
}

.legend p {
    font-size: 10px;
    margin-bottom: 0px;
}

.text-left, .text-right {
    font-size: 10px !important;
}

/*
.legend {
    position: relative;
    bottom: 4.1vw;
    margin-bottom: 4px !important;
}
*/

.legend-title {
    font: 13px/16px "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.selected > text.pie-label {
    fill-opacity: 1;
}

.nav-link > i {
    font-size: 20px;
}

.nav-link {
    color: rgba(247, 247, 247, 0.67) !important;
}

.nav-link:hover {
    color: rgba(247, 247, 247, 1) !important;
}

.nav-link-text {
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
    font-size: 1em;
    color: rgba(247, 247, 247, 0.67);
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
    text-shadow: 1px 1px 1px #212529;
    color: #d3d3d3;
}

.leaflet-legend-control {
    line-height: 22px;
    padding:7px;
    color: #555;
    font: 13px/16px "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: fixed;
    bottom: 10px !important;
    max-height: 650px;
    overflow: auto;
}

.leaflet-legend-control ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.leaflet-legend-control ul li img {
    display: inline-block;
    margin-right: 5px;
}

.leaflet-legend-control ul li span {
    vertical-align: top;
    line-height: 22px;
}

.leaflet-legend-control ul ul {
    margin-left: 15px;
}

ul li label {
  display: inline-block;
  width: 90%;
  padding-top: 2px;
  padding-left: 2px;

}

.dc-chart-container-left {
    padding-left: 15px;
    padding-right: 0px;
}

.dc-chart-container-right {
    padding-left: 15px;
    padding-right: 0px;
}

.dc-chart {
    width: 100%;
    height: auto;
}

.dc-chart-title {
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
    font-size: 1em;
    margin-left: 8px;
    margin-bottom: 0px;
    color: rgba(239, 247, 247, 1);
}

.dc-div {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: none;
}

.dc-pie-chart {
    padding-left: 0px;
    padding-right: 0px;
}

#loader {
    position: absolute;
    left: 68%;
    top: 50%;
    text-shadow: 0 0 5px white,
                 0 0 10px white,
                 0 0 15px white;
}

.reference {
    font-size: 1em;
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

div.dc-chart {
    float: left;
}

.dc-chart .pie-slice.external {
    fill: rgba(247, 247, 247, 1) !important;
    fill-opacity: 1;
}

.dc-chart .pie-path.external {
    stroke: #fff;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #000000;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: #000000;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text:hover {
    color: rgba(247, 247, 247, 1) !important;
}

.dc-chart text.pie-label {
    font-family: "Work Sans", Helvetica, Roboto, Arial, sans-serif !important;
    fill: white;
    font-size: 12px;
    text-shadow: 0.75px 0.75px rgba(82, 85, 96, 1);
    text-wrap: wrap !important;
}

.dc-chart .axis text {
    font-size: 12px;
}

.dc-chart .pie-slice {
    fill: #000000;
    fill-opacity: 0.67;
}

.pie-slice-group {
    stroke: rgba(29, 33, 48, 1);
    stroke-width: 1;
}

.dc-chart .axis path.domain, .dc-chart .axis line {
	fill: none;
    stroke: rgba(82, 85, 96, 1);
}

.dc-chart .selected path, .dc-chart .selected circle {
    stroke: rgba(82, 85, 96, 0.5) !important;
    stroke-width: 2 !important;
}

.dc-chart .pie-slice:focus, .dc-chart .pie-slice:hover {
    fill: #000000;
    fill-opacity: 1;
}

.dc-chart polyline.pie-path {
    stroke: none;
}

.fa-border-prop-radius {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(80, 80, 80, 1);
    border-image: initial;
    border-radius: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.leaflet-container {
    font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.modal-body p, li {
    font-family: "Work Sans", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link {
	font-size: 1rem;
	font-weight: 400 !important;
	letter-spacing: 0.0625em;
	text-transform: none;
	color: rgba(247, 247, 247, 0.67);
}

a.nav-link:hover {
	color: rgba(247, 247, 247, 1) !important;
}

li.nav-item:hover {
	color: rgba(247, 247, 247, 1) !important;
}

.modal-content {
    color: rgb(29, 33, 48) !important;
}

.source-links {
    color: rgb(29, 33, 48) !important;
}

.map-layer-title {
    margin-bottom: 0px;
}

.attribution {
    font-size: 8px;
}

.node {
    fill: rgba(239, 247, 247, 1);
    stroke: rgba(1, 97, 108, 1);
    stroke-opacity: 0.15;
    stroke-width: 1px;
}

.link {
    stroke: rgba(1, 97, 108, 1);
    stroke-opacity: 0.15;
}

.label {
    fill: rgba(239, 247, 247, 1);
    font-family: "Work Sans", Helvetica, Roboto, Arial, sans-serif !important;
    font-size: 12px;
    text-shadow: 0.75px 0.75px rgba(82, 85, 96, 1);
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

.audio-player audio {
    border-radius: 5px;
    background: #f8f9fa;
}

.nav-link > img {
    height: 26px;
}

#mainNav.fixed-top .navbar-sidenav {
    margin-top: 61px !important;
}

@media (max-width: 1025px) {
    .navbar-toggler {
        font-size: 1rem !important;
    }
    .nav-link > img {
        height: 52px;
    }
    .dc-chart .axis text {
        font-size: 1em !important;
    }
    .dc-chart-title {
        margin-top: 0px !important;
        margin-left: 0px !important;
        font-size: 1em !important;
        color: rgba(239, 247, 247, 1);
    }
    span.nav-icon-text {
        display: inline;
    }
    #title-text {
        float: left;
        font-size: 1em;
    }
    #mainNav .navbar-collapse {
        max-height: 45vh;
    }
    .nav-item > .text-center {
        text-align: left !important;
    }
    .navbar-sidenav {
        margin-top: 12px !important;
        width: 100% !important;
        display: none;
        height: 100%;
    }
    #exampleAccordion {
        border-style: none;
    }
    .dc-chart-container-right {
        padding-left: 15px !important;
        padding-right: 0px !important;
    }
    .navbar-nav {
        display: block !important;
    }
    .navbar-brand {
        font-size: 0.5rem;
    }
    .leaflet-control-zoom {
        position: fixed;
        bottom: 60px;
        right: 0px;
    }
    .leaflet-control-scale {
        position: fixed;
        right: 0px;
        bottom: 12px;
    }
    .leaflet-control-layers-expanded {
        font-size: 1em !important;
    }
    .leaflet-control-layers {
        position: relative;
        top: 12px !important;
    }
    .dc-div {
        margin-right: 10px;
        margin-bottom: 10px;
        width: fit-content;
        display: block;
    }
    .navbar {
        padding: 0.5rem 0.5rem;
    }
    .leaflet-right .leaflet-control {
        margin-bottom: 4px !important;
        margin-right: 4px !important;
    }
    .leaflet-left .leaflet-control {
        position: relative;
        bottom: 15px;
        margin-bottom: 6px !important;
        margin-left: 4px !important;
    }
    .leaflet-top .leaflet-control {
        margin-top: 4px !important;
        margin-left: 4px !important;
    }
    .leaflet-container {
        font-size: 10px !important;
    }
    .leaflet-left {
        width: 100% !important;
    }
    body, h6 {
        font-size: 1em !important;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    .feature-label {
        font-size: 6vw;
    }
    h4 {
        font: 10px !important;
    }
    .tooltip-inner, div.arrow {
        display: none !important;
    }
    #loader {
        position: fixed !important;
        left: 15% !important;
        top: 50% !important;
    }
    .dc-chart text.pie-label {
        font-family: "Forrest", "Helvetica", "Roboto", "Arial", sans-serif !important;
        fill: white;
        font-size: 1em !important;
        text-shadow: 0.75px 0.75px rgba(82, 85, 96, 1);
        text-wrap: wrap !important;
    }
    text.y-axis-label.y-label {
        font-size: 0.9em !important;
    }
}

.mile-label {
    font-size: 11px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: none;
    padding: 1px 3px;
}

.bar-RdBu {
    height: 10px;
    width: 100%;
    background: linear-gradient(to left, #ca0020 0%, #f4a582 25%, #f7f7f7 50%, #92c5de 75%, #0571b0 100%);
}

.bar-YlOrRd {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #ffffb2 0%, #fecc5c 25%, #fd8d3c 50%, #f03b20 75%, #bd0026 100%);
}
